*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /* =10px pour utilisation rem */
}

body{
    font-family: Raleway, sans-serif;
    font-size: 1.6rem; /* =16px */
    line-height: 1.5;
    margin: 0; /* enleve la marge par defaut du naviguateur */
}

/* COMMUNS */

a{
    text-decoration: none;
    font-weight: 500;
    color: black;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.7rem;
}

p{
    font-size: 1.5rem;
}

ul{
    list-style: none;
}

/* END COMMUNS */
    
/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    height: 15rem;
}

.header__heading{
    margin: 6rem 0 0 7rem;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav__link{
    margin-right: 4.5rem;
}

.nav__link--1{
    padding: 6.2rem 4.5rem 0 4.5rem;
}

.nav__link--2{
    padding: 6.2rem 4.5rem 0 4.5rem;
}

.nav__link--1:hover{
    border-top: 0.4rem solid #0065FC;
    color: #0065FC;
}

.nav__link--2:hover{
    border-top: 0.4rem solid #0065FC;
    color: #0065FC;
}

.nav__subscribe{
    margin-right: 12rem;
    font-weight: 800;
    color: #0065FC;
}

/* END HEADER */

/* MAIN */

    /* SECTION RENTAL-SEARCH */

#rental-search{
    margin-left: 7rem;
    width: 70%;
}
    
#rental-search h1{
    margin: 0;
    font-size: 2rem;
}
    
.rental-search__description{
    margin: 1.5rem 0 2.5rem 0;
}
            
            /* SEARCH BUTTON */
    
.form-search{
    display: flex;
    width: 30%;
}
    
.location-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border: 0.1rem solid #F2F2F2;
    border-radius: 2rem 0 0 2rem;
    background-color: #F2F2F2;
}
    
.location-icon i{
    font-size: 2rem;
}
    
.search-input{
    padding: 1.5rem;
    font-size: 1.6rem;
    font-weight: 600;
    border: 0.1rem solid #F2F2F2;
    flex: 1 1 auto;
}
    
.submit-button{
    display: flex;
}
    
.search-submit{
    padding: 1.5rem;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    border-radius: 0 2rem 2rem 0;
    background-color: #0065FC;
    color: white;
}
    
.submit-button i{
    display: none;
}
    
            /* END SEARCH BUTTON */
    
            /* FILTERS */
    
.filter{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
    
.filter__detail{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0 2rem 0;
}
    
.filter p{
    font-size: 1.6rem;
    font-weight: 800;
    margin-right: 3rem;
}
    
.filter-button{
    display: flex;
    align-items: center;
    border: 0.1rem solid #DEEBFF;
    border-radius: 50px;
    padding-right: 2.5rem;
    margin-right: 2rem;
}
    
.filter-button__logo{
    background-color: #DEEBFF;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: -0.1rem;
}
    
.filter-button__logo i{
    color: #0065FC;
    font-size: 2rem;
}
    
.filter-button:hover .filter-button__logo{
    background-color:#0065FC;
}
    
.filter-button:hover .filter-button__logo i{
    color: #DEEBFF;
}
    
.filter-button:hover #heart{
    color: red;
}
    
.filter-button:hover .filter-button__text{
    color: #0065FC;
}
    
.filter-button:hover{
    border:#0065FC solid 0.1rem;
    box-shadow: 0.1rem 0.1rem 1rem #F2F2F2;
}
    
.filter-button__text{
    margin-left: 1.5rem;
    font-weight: 800;
    font-size: 1.6rem;
}
    
            /* END FILTERS */
    
            /* NUMBER-HOUSINGS */
    
.number-housings{
    display: flex;
    align-items: center;
}
    
.information-logo{
    border: 1px solid #F2F2F2;
    border-radius: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;   
    font-size: 1rem;
    color: #0065FC;
}
    
.number-housings p{
    font-size: 1.5rem;
    margin-left: 1rem;
}
    
            /* END NUMBER-HOUSINGS */
    
        /* END SECTION RENTAL-SEARCH */

    /* SECTION ACCOMMODATION */

        /* ACCOMMODATION-LIST */

#accommodation{
    display: flex;
    margin: 2rem 0 3rem 0;

}

.accommodation-list{
    width: 65%;
    margin-left: 7rem;
    padding: 2rem 0;
    background-color: #F2F2F2;
    border-radius: 2.5rem;
    display: flex;
    flex-direction: column;
}

.accommodation-list h2{
    margin-left: 3rem;
}

.accommodation-list--description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.accommodation-list--description--detail{
    background-color: white;
    padding: 0.5rem;
    margin: 2rem;
    border-radius: 2.5rem;
    box-shadow: 0.5rem 0.5rem 2rem rgb(199, 193, 193);
}

.accommodation-list--description--detail img{
    width: 25rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 2.5rem 2.5rem 0 0;
}

.accommodation-list--description--detail__text{
    margin-left: 1rem;
}

.accommodation-list--description--detail__text h3{
    margin: 0;
}

.accommodation-list--description--detail__text p{
    margin: 0.2rem 0 0.2rem 0;
}

.stars{
    font-size: small;
    color: #0065FC;
}

.color-star{
    color: #F2F2F2;
}

.show-more{
    margin-left: 3rem;
}

.accommodation-list .show-more a{
    font-weight: 700;
    justify-content: left;
}

        /* END ACCOMMODATION-LIST */

        /* MOST-POPULAR */

.most-popular{
    width: 25%;
    margin: 0 4rem ;
    display: flex;
    flex-direction: column;
    border-radius: 2.5rem;
    background-color: #F2F2F2;
}

.most-popular__title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem 0 0;
    margin-bottom: 2rem;
}

.most-popular__title h2{
    margin-top: 3.6rem;
    margin-left: 3rem;
}

.most-popular__title i{
    margin-top: 3.6rem;
    font-size: 2.5rem;
}

.most-popular__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.most-popular__list a{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.most-popular__list__detail{
    width: 90%;
    border-radius: 2.5rem;
    background-color: white;
    padding: 0.5rem;
    display: flex;
    margin-bottom: 2rem;
    margin: 0;
}

.most-popular__list__detail img{
    width: 14rem;
    height: 14rem;
    border-radius: 2.5rem 0 0 2.5rem;
    object-fit: cover;
}

.most-popular__list__detail__text{
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

.most-popular__list__detail__text h3{
    margin: 0.5rem 0 0 0;
}

.most-popular__list__detail__text p{
    margin-top: 1rem;
    
}

        /* END MOST-POPULAR */

    /* END SECTION ACCOMMODATION */

    /* ACTIVITIES */

#activities{
    width: 92%;
    margin-left: 7rem;
}

.activities__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.activities__list__detail{
    margin: 0;
    border-radius: 2.5rem;
    box-shadow: 0.5rem 0.5rem 2rem rgb(199, 193, 193);
}

.two-photos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activities__list__detail img{
    object-fit: cover;
    width: 30rem;
    border-radius: 2.5rem 2.5rem 0 0;
}

.activities__list__detail__text h3{
    padding: 1rem 0 1rem 2rem;
    margin: 0;
}

.activities__list__detail__photo-xlarge{
    height: 40rem;
}

.activities__list__detail__photo-large{
    height: 15rem;
}

.activities__list__detail__photo-medium{
    height: 12rem;
}

.activities__list__detail__photo-small{
    height: 10rem;
}

    /* END ACTIVITIES */

/* MAIN */

/* FOOTER */

footer{
    margin-top: 7rem;
    background-color: #F2F2F2;
}

.footer__list{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    padding: 4rem;
}

.footer__list__detail{
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.footer__list__detail a{
    line-height: 4rem;
}

.footer__list h4{
    font-size: 2rem;
    margin-bottom: 0;
}

/* END FOOTER */

                                            /* MEDIA QUERIES */


@media(max-width:768px){

    /* HEADER */

header{
    margin: 0;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}


.header__heading{
   position: absolute;
   top: 2.5rem;
   left: 2rem; 
   margin: 0;
}

nav{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    width: 100%;
    
}

.nav__link{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 0 0;
    padding: 0;
    width: 100%;
}

.nav__link a{
    border-bottom: 4px solid rgb(204, 204, 204);
    padding: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.nav__link a:hover{
    border-top: 0;
    border-bottom: 4px solid #0065FC;
}

.nav__subscribe{
    margin-right: 2rem;
}

    /* END HEADER */

    /* SEARCH BUTTON */

#rental-search{
    width: 95%;
    margin: 0 1rem;
}

.form-search{
    width: 100%;
    display: flex;
    align-items: center;
}

.location-icon i{
    font-size: 2.4rem;
}

.search-input{
    font-size: 2rem;
    overflow: scroll;
}

.search-submit{
    display: none;
}

.submit-button{
    margin-left: -2rem;
}

.submit-button i{
    display: initial;
    padding: 1.8rem;
    font-size: 1.9rem;
    border-radius: 2rem;
    background-color: #0065FC;
    color: white;
}

    /* END SEARCH BUTTON */

.filter-button{
    margin-right: 0.5rem;
    margin-bottom: 1rem;
}

    /* SECTION ACCOMMODATION */

        /* ACCOMMODATION-LIST */

#accommodation{
    flex-direction: column-reverse;
    margin-bottom: 0;
}

.accommodation-list{
    width: 100%;
    margin: auto;
    border-radius: 0;
    background-color: #ffffff;
}

.accommodation-list a{
    display: flex;
    justify-content: center;
}

.accommodation-list--description--detail{
    width: 90%;
    margin-top: 0;
}

.accommodation-list--description--detail img{
    width: 100%;
}

.accommodation-list--description a{
    width: 100%;

}

.accommodation-list h2{
   margin-left: 2rem;
}

.show-more{
    margin-left: 2rem;
}

            /* END ACCOMMODATION-LIST */

            /* MOST-POPULAR */

.most-popular{
    width: 100%;
    margin: 0;
    border-radius: 0;
}

.most-popular__list__detail{
    width: 90%;
}

.most-popular__title{
    padding-right: 1.8rem;
}

.most-popular__title h2{
    margin-left: 2rem;
}

            /* END MOST-POPULAR */

    /* END SECTION ACCOMMODATION */

    /* ACTIVITIES */

#activities{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.activities__list{
    width: 100%;
    flex-direction: column;
}

.activities__list__title{
    margin-left: 20px;
}

.activities__list__detail{
    margin-top: 2rem;
    width: 90%;
    margin: 1.5rem auto;
}

.activities__list__detail img{
    width: 100%;
    height: 15rem;
}

    /* END ACTIVITIES */

    /* FOOTER */

footer{
    display: flex;
    margin-top: 3.5rem;
}
    
.footer__list{
    flex-direction: column;
    margin-left: 0;  
}

    /* END FOOTER */

}


@media (min-width:769px) and (max-width:1024px){

    .filter-button{
        margin-bottom: 1rem;
    }

/* SECTION ACCOMMODATION */

        /* ACCOMMODATION-LIST */

#accommodation{
    flex-direction: column-reverse;
    margin-bottom: 0;
}

.accommodation-list{
    width: 100%;
    margin: auto;
    border-radius: 0;
    background-color: #F2F2F2;
}

.accommodation-list a{
    display: flex;
    justify-content: center;
}

.accommodation-list h2{
    margin-left: 4rem;
}

.accommodation-list--description{
    flex-direction: row;
}

.accommodation-list--description--detail{
    width: 80%;
    margin-top: 0;
}

.accommodation-list--description--detail img{
    width: 100%;
}

.accommodation-list--description a{
    width: 50%;

}

        /* END ACCOMMODATION-LIST */

        /* END MOST-POPULAR */

.show-more{
    margin-left: 4rem;
}

.most-popular{
    width: 100%;
    margin: 0;
    border-radius: 0;
}

.most-popular__list__detail{
    width: 90%;
}

.most-popular__list__detail img{
    width: 30%;
}

.most-popular h2{
    margin-left: 4rem;
}

        /* END MOST-POPULAR */

    /* END SECTION ACCOMMODATION */

     /* ACTIVITIES */

#activities{
    width: 92%;
    margin: auto;
}

.activities__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.activities__list__detail{
    margin: 0 0 2rem 0;
    border-radius: 2.5rem;
    box-shadow: 0.5rem 0.5rem 2rem rgb(199, 193, 193);
}

.two-photos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activities__list__detail img{
    object-fit: cover;
    width: 40rem;
    border-radius: 2.5rem 2.5rem 0 0;
}

.activities__list__detail__text h3{
    padding: 1rem 0 1rem 2rem;
    margin: 0;
    font-size: 1.3rem;
}

.activities__list__detail__photo-xlarge{
    height: 50rem;
}

.activities__list__detail__photo-large{
    height: 20rem;
}

.activities__list__detail__photo-medium{
    height: 20rem;
}

.activities__list__detail__photo-small{
    height: 20rem;
}

     /* END ACTIVITIES */
}

    /* FOOTER */

.footer__list{
    width: 100%;
    margin-left: 0;
}

    /* END FOOTER */

@media (min-width:1025px) and (max-width:1439px){

.filter-button{
    margin-bottom: 1rem;
}


/* SECTION ACCOMMODATION */

        /* ACCOMMODATION-LIST */

#accommodation{
    margin-bottom: 0;
}
        
.accommodation-list{
    width: 100%;
    background-color: #F2F2F2;
}
        
.accommodation-list--description--detail{
    margin: 2rem 0.5rem;
}

.accommodation-list--description--detail img{
    width: 22rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 2.5rem 2.5rem 0 0;
}
        
.show-more{
    margin-left: 3rem;
}
        
                    /* END ACCOMMODATION-LIST */

 /* MOST-POPULAR */

.most-popular{
    width: 40%;
}

.most-popular__list__detail__text{
    font-size: 1rem;
}

.most-popular__list a{
    width: 100%;
    margin-bottom: 20px;
}

.most-popular__list__detail{
    width: 90%;
}

.most-popular__list__detail img{
    width: 40%;
}

.most-popular__title{
    padding-right: 1.8rem;
}

.most-popular__title h2{
    margin-left: 2rem;
}

            /* END MOST-POPULAR */

/* ACTIVITIES */

#activities{
    width: 92%;
    margin: auto;
}

.activities__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.activities__list__detail{
    margin: 0;
    border-radius: 2.5rem;
    box-shadow: 0.5rem 0.5rem 2rem rgb(199, 193, 193);
}

.two-photos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activities__list__detail img{
    object-fit: cover;
    width: 23rem;
    border-radius: 2.5rem 2.5rem 0 0;
}

.activities__list__detail__text h3{
    padding: 1rem 0 1rem 2rem;
    margin: 0;
    font-size: 1rem;
}

.activities__list__detail__photo-xlarge{
    height: 40rem;
}

.activities__list__detail__photo-large{
    height: 15rem;
}

.activities__list__detail__photo-medium{
    height: 12rem;
}

.activities__list__detail__photo-small{
    height: 10rem;
}

    /* END ACTIVITIES */

}

@media screen and (min-width: 1700px){

    /* ACCOMMODATION-LIST */

.accommodation-list--description--detail img{
    width: 38rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 2.5rem 2.5rem 0 0;
}

    /* END ACCOMMODATION-LIST */

/* ACTIVITIES */

.activities__list__detail img{
    object-fit: cover;
    width: 38rem;
    border-radius: 2.5rem 2.5rem 0 0;
}

.activities__list__detail__photo-xlarge{
    height: 50rem;
}

.activities__list__detail__photo-large{
    height: 25rem;
}

.activities__list__detail__photo-medium{
    height: 20rem;
}

.activities__list__detail__photo-small{
    height: 15rem;
}

    /* END ACTIVITIES */

}