*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /* =10px pour utilisation rem */
}

body{
    font-family: Raleway, sans-serif;
    font-size: 1.6rem; /* =16px */
    line-height: 1.5;
    margin: 0; /* enleve la marge par defaut du naviguateur */
}

#container{
    width: 100%; /* largeur page html */
    margin: auto; /* centre la page */
      
    
}

/* COMMUNS */

a{
    text-decoration: none;
    font-weight: 500;
    color: black;
}

/* END COMMUNS */
    
/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    height: 15rem;
}

.header__heading{
    margin: 6rem 0 0 7rem;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav__link{
    margin-right: 4.5rem;
}

.nav__link--1{
    padding: 6.2rem 4.5rem 0 4.5rem;
}

.nav__link--2{
    padding: 6.2rem 4.5rem 0 4.5rem;
}

.nav__link--1:hover{
    border-top: 0.4rem solid #0065FC;
    color: #0065FC;
}

.nav__link--2:hover{
    border-top: 0.4rem solid #0065FC;
    color: #0065FC;
}

.nav__subscribe{
    margin-right: 12rem;
    font-weight: 800;
    color: #0065FC;
}

/* END HEADER */